<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:insert="fragments/head :: navbar"></div>


<div class="row">
    <div class="col-md-8 offset-md-2" style="text-align: center">
        <a class="form-control btn btn-primary" style="background-color: #212529"
           th:href="@{/orderCar/{id}(id=${chosenEmployee.getId()})}">ORDER NEW CAR</a>
    </div>
</div>
<div class="row">
    <div class="classcontainer col-md-8 offset-2">
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th data-field="id" style="text-align:center">Category</th>
                <th data-field="firstName" style="text-align:center">Brand</th>
                <th data-field="lastName" style="text-align:center">Model</th>
                <th data-field="lastName" style="text-align:center">Fuel</th>
                <th data-field="lastName" style="text-align:center">List Price</th>
                <th data-field="" style="text-align:center">Add to history</th>

            </tr>
            <tr th:each="car : ${allCars}">
                <td th:text="${car.getCategory().getDisplayName()}" style="text-align:center"></td>
                <td th:text="${car.getBrand()}" style="text-align:center"></td>
                <td th:text="${car.getModel()}" style="text-align:center"></td>
                <td th:text="${car.getFuel()}" style="text-align:center"></td>
                <td th:text="${car.getListPrice()}" style="text-align:center"></td>
                <td style="text-align:center">
                    <a th:href="@{/addingToHistory/{id}/{carId} (id = ${chosenEmployee.getId()} , carId = ${car.getId})}">
                        <span class="material-icons">directions_car_filled</span></a>
                </td>

            </tr>
            </thead>

        </table>
        <div class="row">
            <div class="col-md-8 offset-md-2" style="text-align: center">
                <a class="form-control btn btn-primary" style="background-color: #212529"
                   th:href="@{/orderCar/{id}(id=${chosenEmployee.getId()})}">ORDER NEW CAR</a>
            </div>
        </div>

    </div>
</div>

<div th:insert="fragments/head :: footer"></div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>
</body>
</html>