<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<div th:insert="fragments/head :: navbar"></div>

<h1>
</h1>


<div class="hero-wrap" style="margin-top:0">
    <div class="home-slider owl-carousel">
        <div class="slider-item"
             style="background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.audi.nl%2Fcontent%2Fdam%2Fnemo%2Fnl%2FHomepage%2F2019-01%2FAudi%2520A5%2520Sportback%25201920x600.jpg&f=1&nofb=1);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start">
                    <div class="col-md-6 ftco-animate">
                        <div class="text w-100">
                            <h2 style="color: #FFFFFF; text-align: left ">Ultimate Fleet Organiser</h2>
                            <h1 style="text-align: left">Make organising child's play</h1>
                            <a style="text-align: left" th:href="@{/addEmployee}" class="btn btn-dark py-3 px-4">Add An Employee</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="classcontainer col-md-8 offset-2 " style="margin-top: 80px">
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th data-field="id" style="text-align:center">Employee Id</th>
            <th data-field="firstName" style="text-align:center">First name</th>
            <th data-field="lastName" style="text-align:center">Last name</th>
            <th data-field="age" style="text-align:center">Age</th>
            <th data-field="hireDate" style="text-align:center">Hire Date</th>
            <th data-field="yearsInService" style="text-align:center">Amount Years In Service</th>
            <th data-field="functionLevel" style="text-align:center">Function level</th>

            <th data-field="Edit" style="text-align:center">Edit Employee</th>
            <th data-field="Delete" style="text-align:center">Delete Employee</th>
            <th data-field="AlterOrder" style="text-align:center">Add history/Order New Car</th>

        </tr>
        <tr th:each="employee : ${allEmployees}">
            <td th:text="${employee.getId()}" style="text-align:center"></td>
            <td th:text="${employee.getFirstName()}" style="text-align:center"></td>
            <td th:text="${employee.getLastName()}" style="text-align:center"></td>
            <td th:text="${employee.getAge()}" style="text-align:center"></td>
            <td th:text="${employee.getHireDate()}" style="text-align:center"></td>
            <td th:text="${employee.getAmountYearsService()}" style="text-align:center"></td>
            <td th:text="${employee.getFunctionLevel().getDisplayName()}" style="text-align:center"></td>


            <td style="text-align:center">
                <a th:href="@{editEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">edit</span></a>
            </td>
            <td style="text-align:center">
                <a th:href="@{removeEmployee/{id}(id=${employee.getId()})}"><span
                        class="material-icons">delete</span></a>
            </td>
            <td style="text-align:center">
                <a th:href="@{addingToEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">directions_car_filled</span></a>
            </td>
        </tr>
        </thead>
    </table>
</div>
</div>


<div class="row">

        <div class="row pb-5 mb-3" style="margin-top:100px; margin-left: auto; margin-right: auto">
            <div class="heading-section text-center ftco-animate">
                <span class="subheading">We offer Cars</span>
                <h2>Our cars</h2>
            </div>
        </div>

        <div class="row" >
            <div class="col-md-4 services ftco-animate" style="text-align: center;">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-car-service"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Audi</h3>
                        <p> Keeping ahead through technology.
                        </p>
                        <p><a target="_blank" href="https://www.audi.be/" class="btn-custom">Read more</a></p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-tyre"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Volkswagen</h3>
                        <p> It’s not a car, it’s a Volkswagen.</p>
                        <p><a target="_blank" href="https://www.volkswagen.be/nl.html" class="btn-custom">Read more</a></p>
                    </div>
                </div>

            </div>
            <div class="col-md-4 services ftco-animate" style="text-align: center">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-battery"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Skôda</h3>
                        <p>Obsessed with Quality since 1897.
                        </p>
                        <p><a target="_blank" href="https://nl.skoda.be/" class="btn-custom">Read more</a></p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-car-engine"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Seat</h3>
                        <p>Different rituals, same spirit.
                        </p>
                        <p><a target="_blank" href="https://www.seat.be/nl/home.html" class="btn-custom">Read more</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 services ftco-animate" style="text-align: center">
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-tow-truck"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">BMW</h3>
                        <p>The Ultimate Driving Experience.
                        </p>
                        <p><a  target="_blank" href="https://www.bmw.be/nl/index.html" class="btn-custom">Read more</a></p>
                    </div>
                </div>
                <div class="d-block d-flex">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="flaticon-repair"></span>
                    </div>
                    <div class="media-body pl-3">
                        <h3 class="heading">Mercedes</h3>
                        <p> Engineered to Move the Human Spirit.

                        </p>
                        <p><a target="_blank" href="https://www.mercedes-benz.be/nl_BE/passengercars.html?group=all&subgroup=see-all&view=BODYTYPE" class="btn-custom">Read more</a></p>
                    </div>
                </div>
            </div>
        </div>
</div>

<!--<section class="ftco-section ftco-no-pt ftco-no-pb bg-light">-->
<!--    <div class="container">-->
<!--        <div class="row d-flex no-gutters">-->
<!--            <div class="col-md-6 d-flex">-->
<!--                <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0"-->
<!--                     style="background-image:url(images/about.jpg);">-->
<!--                    <a href="https://vimeo.com/45830194"-->
<!--                       class="icon-video popup-vimeo d-flex justify-content-center align-items-center">-->
<!--                        <span class="fa fa-play"></span>-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 pl-md-5">-->
<!--                <div class="row justify-content-start py-5">-->
<!--                    <div class="col-md-12 heading-section ftco-animate">-->
<!--                        <span class="subheading">Welcome to Autorepair</span>-->
<!--                        <h2 class="mb-4">We help more than 45 years serving customer car</h2>-->
<!--                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,-->
<!--                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the-->
<!--                            Semantics, a large language ocean. A small river named Duden flows by their place and-->
<!--                            supplies it with the necessary regelialia. It is a paradisematic country, in which roasted-->
<!--                            parts of sentences fly into your mouth.-->
<!--                        </p>-->
<!--                        <div class="tabulation-2 mt-4">-->
<!--                            <ul class="nav nav-pills nav-fill d-md-flex d-block">-->
<!--                                <li class="nav-item mb-md-0 mb-2">-->
<!--                                    <a class="nav-link active py-2" data-toggle="tab" href="#home1">Our Mission</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item px-lg-2 mb-md-0 mb-2">-->
<!--                                    <a class="nav-link py-2" data-toggle="tab" href="#home2">Our Vision</a>-->
<!--                                </li>-->
<!--                                <li class="nav-item">-->
<!--                                    <a class="nav-link py-2 mb-md-0 mb-2" data-toggle="tab" href="#home3">Our Value</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                            <div class="tab-content rounded mt-2">-->
<!--                                <div class="tab-pane container p-0 active" id="home1">-->
<!--                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and-->
<!--                                        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove-->
<!--                                        right at the coast of the Semantics, a large language ocean.</p>-->
<!--                                </div>-->
<!--                                <div class="tab-pane container p-0 fade" id="home2">-->
<!--                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and-->
<!--                                        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove-->
<!--                                        right at the coast of the Semantics, a large language ocean.</p>-->
<!--                                </div>-->
<!--                                <div class="tab-pane container p-0 fade" id="home3">-->
<!--                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and-->
<!--                                        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove-->
<!--                                        right at the coast of the Semantics, a large language ocean.</p>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<!--<section class="ftco-counter" id="section-counter">-->
<!--    <div class="container">-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">-->
<!--                <div class="block-18 text-center">-->
<!--                    <div class="text">-->
<!--                        <strong class="number" data-number="45">0</strong>-->
<!--                    </div>-->
<!--                    <div class="text">-->
<!--                        <span>Years of Experienced</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">-->
<!--                <div class="block-18 text-center">-->
<!--                    <div class="text">-->
<!--                        <strong class="number" data-number="8500">0</strong>-->
<!--                    </div>-->
<!--                    <div class="text">-->
<!--                        <span>Project completed</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">-->
<!--                <div class="block-18 text-center">-->
<!--                    <div class="text">-->
<!--                        <strong class="number" data-number="2342">0</strong>-->
<!--                    </div>-->
<!--                    <div class="text">-->
<!--                        <span>Happy Customers</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-lg-3 d-flex justify-content-center counter-wrap ftco-animate">-->
<!--                <div class="block-18 text-center">-->
<!--                    <div class="text">-->
<!--                        <strong class="number" data-number="30">0</strong>-->
<!--                    </div>-->
<!--                    <div class="text">-->
<!--                        <span>Award Winning</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb img"
         style="background: rgba(0, 0, 0, 0.1);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row d-md-flex justify-content-end">
            <div class="col-md-12 col-lg-6 half p-3 py-5 pl-lg-5 ftco-animate heading-section heading-section-white">
                <span class="subheading">Booking an Appointment</span>
                <h2 class="mb-4">Free Consultation</h2>
                <form action="#" class="appointment">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-field">
                                    <div class="select-wrap">
                                        <div class="icon"><span class="fa fa-chevron-down"></span></div>
                                        <select name="" class="form-control">
                                            <option value="">Select services</option>
                                            <option value="">Change Oil</option>
                                            <option value="">Engine Repair</option>
                                            <option value="">Battery Replace</option>
                                            <option value="">Change Tire</option>
                                            <option value="">Tow Truck</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Vehicle number">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-wrap">
                                    <div class="icon"><span class="fa fa-calendar"></span></div>
                                    <input type="text" class="form-control appointment_date" placeholder="Date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-wrap">
                                    <div class="icon"><span class="fa fa-clock-o"></span></div>
                                    <input type="text" class="form-control appointment_time" placeholder="Time">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <textarea name="" id="" cols="30" rows="7" class="form-control"
                                          placeholder="Message"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Send message" class="btn btn-dark py-3 px-4">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!--<section class="ftco-section testimony-section bg-light">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center pb-5 mb-3">-->
<!--            <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">-->
<!--                <span class="subheading">Testimonies</span>-->
<!--                <h2>Happy Clients &amp; Feedbacks</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row ftco-animate">-->
<!--            <div class="col-md-12">-->
<!--                <div class="carousel-testimony owl-carousel ftco-owl">-->
<!--                    <div class="item">-->
<!--                        <div class="testimony-wrap py-4">-->
<!--                            <div class="icon d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-quote-left"></span></div>-->
<!--                            <div class="text">-->
<!--                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia-->
<!--                                    and Consonantia, there live the blind texts.</p>-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>-->
<!--                                    <div class="pl-3">-->
<!--                                        <p class="name">Roger Scott</p>-->
<!--                                        <span class="position">Marketing Manager</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <div class="testimony-wrap py-4">-->
<!--                            <div class="icon d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-quote-left"></span></div>-->
<!--                            <div class="text">-->
<!--                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia-->
<!--                                    and Consonantia, there live the blind texts.</p>-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>-->
<!--                                    <div class="pl-3">-->
<!--                                        <p class="name">Roger Scott</p>-->
<!--                                        <span class="position">Marketing Manager</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <div class="testimony-wrap py-4">-->
<!--                            <div class="icon d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-quote-left"></span></div>-->
<!--                            <div class="text">-->
<!--                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia-->
<!--                                    and Consonantia, there live the blind texts.</p>-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>-->
<!--                                    <div class="pl-3">-->
<!--                                        <p class="name">Roger Scott</p>-->
<!--                                        <span class="position">Marketing Manager</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <div class="testimony-wrap py-4">-->
<!--                            <div class="icon d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-quote-left"></span></div>-->
<!--                            <div class="text">-->
<!--                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia-->
<!--                                    and Consonantia, there live the blind texts.</p>-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>-->
<!--                                    <div class="pl-3">-->
<!--                                        <p class="name">Roger Scott</p>-->
<!--                                        <span class="position">Marketing Manager</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="item">-->
<!--                        <div class="testimony-wrap py-4">-->
<!--                            <div class="icon d-flex align-items-center justify-content-center"><span-->
<!--                                    class="fa fa-quote-left"></span></div>-->
<!--                            <div class="text">-->
<!--                                <p class="mb-4">Far far away, behind the word mountains, far from the countries Vokalia-->
<!--                                    and Consonantia, there live the blind texts.</p>-->
<!--                                <div class="d-flex align-items-center">-->
<!--                                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>-->
<!--                                    <div class="pl-3">-->
<!--                                        <p class="name">Roger Scott</p>-->
<!--                                        <span class="position">Marketing Manager</span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<section class="ftco-section">
    <div >
        <div class="row justify-content-center pb-5 mb-3">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Spotlight</span>
                <h2>Most wanted cars</h2>


                <div class="hero-wrap">
                    <div class="home-slider owl-carousel">
                        <div class="slider-item"
                             style="background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.wagrati.eu%2Fmedia%2Fimages%2Faudi-aicon-concept-2017-1400x700.jpg&f=1&nofb=1);background-position: center; background-size: cover">
                            <div class="overlay"></div>
                            <div class="container">
                                <div class="row no-gutters slider-text align-items-center justify-content-start">
                                    <div class="col-md-6 ftco-animate">
                                        <div class="text w-100">
                                            <h1>Visit the Audi website</h1>
                                            <h2 style="color: #FFFFFF">Click the button below</h2>
                                            <p><a href="https://www.audi.be/" class="btn btn-dark py-3 px-4">Audi</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--<div style="background: rgba(0, 0, 0, 0.1);">-->
<!--<section class="ftco-section bg-light">-->
<!--    <div class="container" >-->
<!--        <div class="row justify-content-center pb-5 mb-3">-->
<!--            <div class="col-md-7 heading-section text-center ftco-animate">-->
<!--                <span class="subheading">Price &amp; Plans</span>-->
<!--                <h2>Pricing</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-md-6 col-lg-3 ftco-animate">-->
<!--                <div class="block-7">-->
<!--                    <div class="text-center">-->
<!--                        <span class="excerpt d-block">First PMS</span>-->
<!--                        <span class="price"><sup>$</sup> <span class="number">78.98</span></span>-->

<!--                        <div class="pricing-text">-->
<!--                            <p>A small river named Duden flows by their place and supplies it with the necessary-->
<!--                                regelialia.</p>-->
<!--                        </div>-->

<!--                        <a href="#" class="btn btn-secondary d-block px-2 py-3">Get Started</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-lg-3 ftco-animate">-->
<!--                <div class="block-7">-->
<!--                    <div class="text-center">-->
<!--                        <span class="excerpt d-block">Engine Diagnostics</span>-->
<!--                        <span class="price"><sup>$</sup> <span class="number">83.75</span></span>-->

<!--                        <div class="pricing-text">-->
<!--                            <p>A small river named Duden flows by their place and supplies it with the necessary-->
<!--                                regelialia.</p>-->
<!--                        </div>-->

<!--                        <a href="#" class="btn btn-secondary d-block px-2 py-3">Get Started</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-lg-3 ftco-animate">-->
<!--                <div class="block-7">-->
<!--                    <div class="text-center">-->
<!--                        <span class="excerpt d-block">Tow Truck</span>-->
<!--                        <span class="price"><sup>$</sup> <span class="number">85.00</span></span>-->

<!--                        <div class="pricing-text">-->
<!--                            <p>A small river named Duden flows by their place and supplies it with the necessary-->
<!--                                regelialia.</p>-->
<!--                        </div>-->

<!--                        <a href="#" class="btn btn-secondary d-block px-2 py-3">Get Started</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-6 col-lg-3 ftco-animate">-->
<!--                <div class="block-7">-->
<!--                    <div class="text-center">-->
<!--                        <span class="excerpt d-block">Car Wash</span>-->
<!--                        <span class="price"><sup>$</sup> <span class="number">30.50</span></span>-->

<!--                        <div class="pricing-text">-->
<!--                            <p>A small river named Duden flows by their place and supplies it with the necessary-->
<!--                                regelialia.</p>-->
<!--                        </div>-->

<!--                        <a href="#" class="btn btn-secondary d-block px-2 py-3">Get Started</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<!--</div>-->

<!--<section class="ftco-section ftco-no-pb">-->
<!--    <div class="container">-->
<!--        <div class="row justify-content-center pb-5 mb-3">-->
<!--            <div class="col-md-7 heading-section text-center ftco-animate">-->
<!--                <span class="subheading">Projects</span>-->
<!--                <h2>Done Projects</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="container-fluid px-md-0">-->
<!--        <div class="row no-gutters">-->
<!--            <div class="col-md-3 ftco-animate">-->
<!--                <div class="work img d-flex align-items-end" style="background-image: url(images/work-1.jpg);">-->
<!--                    <a href="images/work-1.jpg"-->
<!--                       class="icon image-popup d-flex justify-content-center align-items-center">-->
<!--                        <span class="fa fa-expand"></span>-->
<!--                    </a>-->
<!--                    <div class="desc w-100 px-4">-->
<!--                        <div class="text w-100 mb-3">-->
<!--                            <span>Engine</span>-->
<!--                            <h2><a href="work-single.html">Engine Testing Complated</a></h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 ftco-animate">-->
<!--                <div class="work img d-flex align-items-end" style="background-image: url(images/work-2.jpg);">-->
<!--                    <a href="images/work-2.jpg"-->
<!--                       class="icon image-popup d-flex justify-content-center align-items-center">-->
<!--                        <span class="fa fa-expand"></span>-->
<!--                    </a>-->
<!--                    <div class="desc w-100 px-4">-->
<!--                        <div class="text w-100 mb-3">-->
<!--                            <span>Oil Change</span>-->
<!--                            <h2><a href="work-single.html">Change Oil Completed</a></h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-md-3 ftco-animate">-->
<!--                <div class="work img d-flex align-items-end" style="background-image: url(images/work-3.jpg);">-->
<!--                    <a href="images/work-3.jpg"-->
<!--                       class="icon image-popup d-flex justify-content-center align-items-center">-->
<!--                        <span class="fa fa-expand"></span>-->
<!--                    </a>-->
<!--                    <div class="desc w-100 px-4">-->
<!--                        <div class="text w-100 mb-3">-->
<!--                            <span>Engine</span>-->
<!--                            <h2><a href="work-single.html">Engine Diagnostics</a></h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="col-md-3 ftco-animate">-->
<!--                <div class="work img d-flex align-items-end" style="background-image: url(images/work-1.jpg);">-->
<!--                    <a href="images/work-4.jpg"-->
<!--                       class="icon image-popup d-flex justify-content-center align-items-center">-->
<!--                        <span class="fa fa-expand"></span>-->
<!--                    </a>-->
<!--                    <div class="desc w-100 px-4">-->
<!--                        <div class="text w-100 mb-3">-->
<!--                            <span>Tire</span>-->
<!--                            <h2><a href="work-single.html">Tire Change</a></h2>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->

<div th:insert="fragments/head :: footer"></div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>

</body>
</html>