<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:insert="fragments/head :: navbar"></div>

<div class="classcontainer col-md-8 offset-2">
    <table class="table table-hover table-dark" >
        <thead>
        <tr>
            <th data-field="id" style="text-align:center" >Employee Id</th>
            <th data-field="firstName" style="text-align:center">First name</th>
            <th data-field="lastName" style="text-align:center">Last name</th>
            <th data-field="age" style="text-align:center">Age</th>
            <th data-field="hireDate" style="text-align:center">Hire Date</th>
            <th data-field="yearsInService" style="text-align:center">Amount Years In Service</th>
            <th data-field="functionLevel" style="text-align:center">Function level</th>

            <th data-field="Edit" style="text-align:center">Edit Employee</th>
            <th data-field="Delete" style="text-align:center">Delete Employee</th>
            <th data-field="AlterOrder" style="text-align:center">Add history/Order New Car</th>

        </tr>
        <tr th:each="employee : ${allEmployees}">
            <td th:text="${employee.getId()}" style="text-align:center"></td>
            <td th:text="${employee.getFirstName()}" style="text-align:center"></td>
            <td th:text="${employee.getLastName()}" style="text-align:center"></td>
            <td th:text="${employee.getAge()}" style="text-align:center"></td>
            <td th:text="${employee.getHireDate()}" style="text-align:center"></td>
            <td th:text="${employee.getAmountYearsService()}" style="text-align:center"></td>
            <td th:text="${employee.getFunctionLevel()}" style="text-align:center"></td>


            <td style="text-align:center">
                <a th:href="@{editEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">edit</span></a>
            </td>
            <td style="text-align:center">
                <a th:href="@{removeEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">delete</span></a>
            </td>
            <td style="text-align:center">
                <a th:href="@{addingToEmployee/{id}(id=${employee.getId()})}"><span class="material-icons">directions_car_filled</span></a>
            </td>
        </tr>
        </thead>
        <tbody>
        </tr>
        </tbody>
    </table>

</div>

</body>
</html>