<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:insert="fragments/head :: navbar"></div>

<h1 style="text-align: center; color: #212529"> Leased Cars !</h1>

<div class="row">
    <div class="classcontainer col-md-8 offset-2">
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th data-field="category" style="text-align:center">Category</th>
                <th data-field="brand" style="text-align:center">Brand</th>
                <th data-field="model" style="text-align:center">Model</th>
                <th data-field="fuel" style="text-align:center">Fuel</th>
                <th data-field="listPrice" style="text-align:center">List Price</th>
                <th data-field="leaseDate" style="text-align:center">Lease date</th>
                <th data-field="leaseDate" style="text-align:center">Employee's Last Name</th>
                <th data-field="editLease" style="text-align:center">Edit Lease</th>

            </tr>
            <tr th:each="car : ${leasedAssigned}">
                <td th:text="${car.getLeasedCar().getCategory().getDisplayName()}" style="text-align:center"></td>
                <td th:text="${car.getLeasedCar().getBrand()}" style="text-align:center"></td>
                <td th:text="${car.getLeasedCar().getModel()}" style="text-align:center"></td>
                <td th:text="${car.getLeasedCar().getFuel()}" style="text-align:center"></td>
                <td th:text="${car.getLeasedCar().getListPrice()}" style="text-align:center"></td>
                <td th:text="${car.getLeaseDate()}" style="text-align:center"></td>
                <td th:text="${car.getEmployee().getLastName()}" style="text-align:center"></td>
                <td style="text-align:center">
                    <a th:href="@{/editLease/{carId}/{leaseId} (carId = ${car.getLeasedCar().getId} , leaseId = ${car.getId})}">
                        <span class="material-icons">edit</span></a>
                </td>

            </tr>
            </thead>

        </table>
    </div>
</div>

<p></p>
<h1 style="text-align: center; color: #212529"> Available Leased Cars !</h1>

<div class="row">
    <div class="classcontainer col-md-8 offset-2">
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <th data-field="category" style="text-align:center">Category</th>
                <th data-field="brand" style="text-align:center">Brand</th>
                <th data-field="model" style="text-align:center">Model</th>
                <th data-field="fuel" style="text-align:center">Fuel</th>
                <th data-field="listPrice" style="text-align:center">List Price</th>
                <th data-field="leaseDate" style="text-align:center">Lease date</th>
                <th></th>
                <th data-field="editLease" style="text-align:center">Edit Lease</th>

            </tr>
            <tr th:each="car : ${leasedNotAssigned}">
                <td th:text="${car.getLeasedCar().getCategory().getDisplayName()}" style="text-align:center"></td>
                <td th:text="${car.getLeasedCar().getBrand()}" style="text-align:center"></td>
                <td th:text="${car.getLeasedCar().getModel()}" style="text-align:center"></td>
                <td th:text="${car.getLeasedCar().getFuel()}" style="text-align:center"></td>
                <td th:text="${car.getLeasedCar().getListPrice()}" style="text-align:center"></td>
                <td th:text="${car.getLeaseDate()}" style="text-align:center"></td>
                <td ></td>
                <td style="text-align:center">
                    <a th:href="@{/editLease/{carId}/{leaseId} (carId = ${car.getLeasedCar().getId} , leaseId = ${car.getId})}">
                        <span class="material-icons">edit</span></a>
                </td>

            </tr>
            </thead>

        </table>
    </div>
</div>

<div th:insert="fragments/head :: footer"></div>



<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>


</body>
</html>