<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>

<div th:insert="fragments/head :: navbar"></div>

<form th:action="@{/downgradePage/{id}/{carId} (id=${editEmployee.id} , carId = ${car.id})}" style="margin-top: 20px">
    <div>
        <div class="row">
            <div class="col-md-2 ">
                <h1>Upgrade price</h1>
                <h1 th:text="${up}"></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <a  th:href="@{/orderedCarUpDown/{id}/{carId}(id = ${editEmployee.getId()} , carId = ${car.getId})}" class="form-control btn btn-primary" style="background-color: #212529" >Confirm Order</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 ">
            <a th:href="@{/}" class="form-control btn btn-primary" style="background-color: #212529" >Cancel Order</a>
        </div>
    </div>
</form>


<div th:insert="fragments/head :: footer"></div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="js/google-map.js"></script>
<script src="js/main.js"></script>


</body>
</html>